<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}

    {% bootstrap_css %}

    {% bootstrap_javascript %}

    {% bootstrap_messages %}

    <title>Movie list</title>
</head>
<body>
    {% block content %}
    {%include 'website/navbar.html'%}
</br>

            {% for movie in movie_list%}
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{movie.title}}</h5>
                  <ul>
                    <li>Year: {{movie.year}}</li>
                    <li>Duration: {{movie.length}} min</li>
                    <li>Genre: {{movie.geners}}</li>
                    <li>Director: {{movie.director}}</li>
                    <li>Language: {{movie.language}}</li>
                    <li>Star: {{movie.star}}</li>
                    <li>IMDB Rating: {{movie.rating}}</li>
                    <li>Based on a true story: {{movie.true_story}}</li>
                    <li>Part of a franchise: {{movie.franchise}}</li>
                    <li>Hollywood movie: {{movie.hollywood}}</li>
                    <li>Considered cult: {{movie.cult}}</li>
                </ul>
                </div>
              </div>
            {% endfor %}
    
    {% endblock content %}
</body>
</html>